

<table>
    <tr>
        <td class="DrawingHistory">
        <span class="SelectorNumber">{{selectorNumbersSequence[0]}}</span>
        <span class="AnalysisNumber">[{{selectorNumbersSequence[1]}}] </span>
            |
        <span class="SelectorNumber">{{selectorNumbersSequence[2]}}</span>
        <span class="AnalysisNumber">[{{selectorNumbersSequence[3]}}] </span>
            |
        <span class="SelectorNumber">{{selectorNumbersSequence[4]}}</span>
        <span class="AnalysisNumber">[{{selectorNumbersSequence[5]}}] </span>
            |
        <span class="SelectorNumber">{{selectorNumbersSequence[6]}}</span>
        <span class="AnalysisNumber">[{{selectorNumbersSequence[7]}}] </span>
            |
        <span class="SelectorNumber">{{selectorNumbersSequence[8]}}</span>
        <span class="AnalysisNumber">[{{selectorNumbersSequence[9]}}] </span>   
    </td>
    </tr>
 </table>
